// .example-container {
//     position: absolute;
//     top: 60px;
//     bottom: 0px;
//     left: 0;
//     right: 0;
//   }
  
  .anaconda-sidenav {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 200px;
    .mat-list-base .mat-list-item.active{
        color: white;
        background-color: #0066cc!important; 
        font-weight: bold;
        font-size: 15px;
    }

    .mat-list-base .mat-list-item {
        color: #0066cc;
    }


  }

  