<app-header></app-header>

<div class="container container-size--wide">
  <h1 class="text-primary lpf-header">Antibody Development Database
  </h1>

  <mat-sidenav-container class="example-container">
    <mat-sidenav #drawer mode="side" opened role="navigation" class="anaconda-sidenav panel panel-default" [fixedInViewport]="'false'">
      <mat-nav-list>
        <a mat-list-item routerLinkActive="active" routerLink='/antigen'>Antigen</a>
        <a mat-list-item routerLinkActive="active" routerLink='/project'>Project</a>
      </mat-nav-list>
    </mat-sidenav>
    <mat-sidenav-content>
      <router-outlet></router-outlet>
    </mat-sidenav-content>
  </mat-sidenav-container>
</div>