<nav class="navbar navbar-default navbar-fixed-top">
  <div class="container-fluid">
      <div class="navbar-header navbar-nav ml-auto">
          <a class="navbar-brand" href="http://www.roche.com/">
              <img alt="Brand" src="../../../assets/img/logo.gif">
          </a>
      </div>
      <!-- <user-popup class="pull-right" (logout)="logout()" [userData]="userData$ | async"></user-popup> -->
      <!-- <div class="header-content">
          <ng-content></ng-content>
      </div> -->
  </div>
</nav>