@import "../libs/bootstrap.variables.scss";

$laptop-sm : 1366px;
$laptop-md : 1500px;
$laptop-lg : 1800px; 

$footer-height: 60px;
$header-height: 90px;

$highlight-color: rgb(255, 255, 190);
$current-field-color: #ffc107;

$disabled-color: rgba(191, 191, 191, 0.23);