<div fxLayout="row wrap" fxLayoutGap="10px">
  <div class="panel panel-default" fxFlex="20">

    <div class="form-panel clearfix">
      <div class="panel-header">
        <h3>Panel Title 1</h3>
      </div>
    </div>
  </div>
  <div class="panel panel-default" fxFlex="58">
    <div class="form-panel clearfix">
      <div class="panel-header">
        <h3>Panel Title 1</h3>
      </div>
    </div>
  </div>

  <div class="panel panel-default" fxFlex="20">
    <div class="form-panel clearfix">
      <div class="panel-header">
        <h3>Panel Title 1</h3>
      </div>
    </div>
  </div>
</div>
<div class="panel panel-default" fxLayoutGap="10px">
  <p>
    antigen works!
  </p>
</div>